Source: mp-fremantle-community-pr
Section: user/system
Priority: required
Maintainer: Mohammad Abu-Garbeyyeh <mohammad7410@gmail.com>
Build-Depends: debhelper (>= 5), sharutils
Standards-Version: 3.7.2

Package: mp-fremantle-community-pr
Architecture: all
Replaces: mp-fremantle-generic-pr, mp-fremantle-203-pr, mp-fremantle-002-pr, mp-fremantle-003-pr
Conflicts: mp-fremantle-generic-pr, mp-fremantle-203-pr, mp-fremantle-002-pr, mp-fremantle-003-pr
XB-Maemo-Display-Name: Maemo 5 Community SSU Package
Description: Community SSU package, includes latest fixes from Gitorious and the community
Depends: modest (>= 3.90.7-7), hildon-home (>= 0.3.71-6), hildon-desktop (>= 1:2.2.142-11), hildon-application-manager (>= 1:2.2.72-3), hildon-status-menu (>= 0.3.40-4), libvte4 (>= 1:0.16.14-0mh9.m6), libvte-common (>= 1:0.16.14-0mh9.m6), osso-applet-display (>= 1.5.4+0cssu1), osso-applet-notificationlight (>= 0.0.8+0cssu1), hildon-control-panel (>= 1:2.2.27-4), libcpaboutcssu (>= 1.0+0cssu2), status-area-orientationlock-applet (>= 1.0+0cssu1), qtm-maemo-metapackage, dsme-thermalobject-surface, libqt4-core, libqt4-gui
Pre-Depends: maemo-optify-runonce
XB-Maemo-Flags:  reboot, system-update
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0
 SU1FB9sCBQ4GKn5MpkQAAAzJSURBVGjezVp7cFTXef9997F7d1erlxF6AULU
 IJ7DO+MG1wWDKbbB2MZjp8mkaTvj6eCAqTGmdkITF5rBTmOI4/GYSdLEYUJN
 CeURUiCujY1thcQxlPB+m4ckBEgraVe7e/fee87XP/asfLWWeAjj+swcnT33
 3HvP9/h9j/NdEW6ukRp1AJoaAYABSLUu1HVWo6Hu9VQX6l5WvU8E3FAzTJM8
 19Ue+cpXghvXrwcAb2hdXc38hQvrxowdO6myqmpcYVFRLQFaKBzun06nrxCR
 lojHmxobGg7/vr7+D+/v3n3+t9u3HwMg75gyBR/u2ZOWUrqKIcataoZhaAAC
 atrvF+vX/01Da+uHMdtuSzOzzcxpZk6pnmQWauTcus3M7Y6TOd/Scmjdxo3f
 BTAaQCmAonAkYikNka9rvmt9a5ZlkRUKBRTx5R8dPvyD1nQ6Zivicr1TSpmU
 UiaZZaeUsse57/5Mlhn+8MCBTQC+BKA/gBIAVulttwXVfgaAKBEF+8qEDiAM
 wNq6c+fCtkzGTvdCcJL5huY5hmylsW1vvvkagGEAagGUvbh69awLra17xo4f
 P0ExF7gxGyEyARQAqD176VJ9Dh6dUspOZtnJnCXG1/s0V4xkmLmpre3SzHvv
 /ds/nzLl4Q7XFR4zP/3ss4sBjAQQVXC6NvE1tbUmgNDj8+ff1ZpOt6SzhAul
 ftlb75RSphTmM2pM57R1ledyGk0xc9zzuMN1u5jasWvXmwAmAyjzebveif+z
 2283AVhLnnvuvk4pu+DSE6Zzm2aY2WFml5lj6bTX1NbWue/IkdONsVi8qa2t
 01X3ZPxa7OV9fptKCOFdSSZtANMADAZwTVswAFjffv75+zql7L5ZDxj2mLnD
 dfmdPXv2fWfFip9HCwsXAJgHYDaAewHMUuOji5YseXH7rl1vN7W3x12/Hfk1
 lGczCSFEkpnvmjp1EYARACJXg5FWVFwcHTl69KgOxxH5eFeY5YQQwmHmDscR
 r/7kJ9sAPKEIngJgIhGNAjAEQA2AGiKqBVCnXOZkAPc9tXTp9xtjsZiroNkp
 JfdkI51SSpeZV7366k8BTFBeyugROmX9+1sASi7F4ydSPeA2Jy1m5nf27Dlo
 WdZTAOYWFRffrWnaKADVyqdHAYQAWErllpJcMYDK8oqKOgCTAMz5zy1btvlc
 a4+24TBz/d69ewHcCaACgPkp6isqKw0Awd/v3/9ympmTOXx2VynbzPzCSy9t
 APAogBnKO1QqbxXoJfD4g5IJIExEZUoj0xtjsZarxZEUM8dsWwCYaRjGECUc
 yk8rAo9+9auTksyckNLt/LS74wwzP7l48RoAczRN+xKAgUra5vW6N99+QQBl
 +44e3aIExn4byGfEYeaHHnnknwAMB1DYbb9+ZWUGAOvEhQs7UlkGOCGl7OpC
 SIeZFzz11I8BzAwGg+OUS7NukPBuediWHTsechVE0lnb8hJCCJ/ddSEhw8yb
 t2/fBiC3t+F/mTl95syxykBlwufSEkJIj5k3bN36PoCHgsHgRBUVgzeVnwDm
 sOHDB31nxYrHX3/jjdc/Onz4SGs67caF4LRyxz6Xy2lmPnjq1AkAfxkKhwcB
 CBAAhEIhI51Oy0OnT6+tHTLkaywlgwhglRQSob29PTWgtHQBgNMATgFoA5C5
 mcxR0zRdShkBcJsy7giAcN2IEbWz7r9/yNjx4wcPHTZs2O3Dhg0vKSy0CIDt
 eSgyzTkVlZVHmy9ebDAA0L1z5gQ2bdhQXFlV9bBkBhNlxUrZv0EiLJo//98B
 XCGiJmbuAODcbNorpZQAUiqF7lBwDBw/evT88aNHf6fmYWWwpY/Pn183asyY
 KIBYLBazc/sTgILlL7wwO83MCc+TCSH8nY+ePdsI4K+V2yu9nlDeB3vQlSMI
 KqILlWaqiGiwiiEjAQzVDaNGresGEREzZ2bPnfuwYAYDBOYuCFm6jv/asGE3
 gHYAMQBpdYL6LBsrLYi8cwAB0JhZVwzqACA8z1UIkFBcRxrb24/FPY/jrivj
 rivjnifjQnCH57Gu6/9QUlLyZQD9boH0r0c7PR1sKJfzUHlFRbWh62XMPkgz
 Q9M0XDh37qIQ4krGcdpvkfSvRzs9/e5K2rSp06eXaLoe7cYAACLChQsXPgbQ
 kkomk+oQzvgCNQ0AhtbVRXVdNzlrA/CPTQ0Nl5W7zPw/SP/aZ3QAcF2XmRnd
 fD8zmBneJwYjvrAMMDMkc9YqfDCS2d/c15rN58aAruvESuLdrIcZuqaZn0lZ
 41bawPFjx5Ku47g5JnJdSokBNTUVAAJEZPQxabv1DLz3zjtxx3U7pZTwdyEE
 +pWXDwJQGolEwl9UBrjl8uVLGdtuyWfA8zxUVFZW67reL2hZfcn5PxcGJADn
 3Llzf2QiCClJSAmR1QCbponvrlw5tbWlJXgTuX+f2tTp07XK6mrdVzym3hgw
 Nv/qV79WGSJL5ZUEM1K2jVmzZ89QR8DI55RKEADt3bfflhcbG4XSfEiNup8R
 DYAcN3GiXPPyywcS8bgtmUkIga7ueaioqhr42Ne/ficzF2uaFr6VTBARTb7j
 jiCA6OFz53Z+dOzYpmeWLXtQHaCKAYQLotFgjgYCQIZhBD3Ps3a8//4vhg4f
 /oAUgnMHmRyriXg8OWHo0LkAzgC4dKsis6ZpppSS9hw6tLayquoxBqATwbZt
 eerkya2/3rRp3Zof/vADTdMSUsq0BoA9z/MAyGcWLnxFCAEv1z0PrufBEwJF
 paUFP1637kkAhQXRaBFla6afaVwoLCrSpZTmqtdem9e/vPwx13XZc13OOA5r
 uq6NGjPmoX9cunQjgIEDa2qiAPScQcpAIOAd2r//yMdnzvwBAAkhuozZEwKp
 VIr/Ytq0uQuWLHm4M5GwQqFQpLfiUl/amPHj9XhHB9WNGFE764EH/sN1Xdnl
 TLI0sOM4iLW2NgIItba0BABoXVgWWdjohw8cOD1n3ryvCc8TzEzd4oKUNGHy
 5KnNzc2nDu7f32gGAiyFuNkciQqiUbPh3DmMHjt2xBvbtv1R03VDSvnJ3swk
 mWEEArTqe997/U/79v3JcZw2ACm/MXLQsrSG8+c7xowff9uAwYPHe54H30sg
 pAQDNHXGjPsqq6u9XTt3HiYig4hkb/n61QjXNE3XdT1o27b59088cde/rl79
 lmEYIU8IzuVnqpNhmnRo//4T3168+KeGYVyWUrYCsPMxbAQtqzhj29X/XV+/
 uaRfv1qWkqkHVxEIBHD00KHd33jwwX+RUp4cOHiwd7m5OZGxbSfvOxfnfY8j
 ANpdM2YE33vrLQIQ/dnGjUtGjxu3WCMC+xIyVVggZpZCCLqjru5JAAdVVaQF
 gEM9+F/LCoXKSdPqtn3wwc5AIAApJfteCADEzNI0Tc3JZLz6d99ds2zRonXK
 Q6WUTbHjODlGOGhZlLFtTTEHAKX//OKLD0y7557lkWi00vM8QUQ6gG4CIyIy
 TBPPLljw8lvbt78NopNgbsxVM6iXz0kRACUz7r9/1tLly9eQpqFbqupzrwBg
 mial02nvysWL7+3fu/c3a9esqb9y6VKD7+Cde7bwmeefv3PspEl/VVZePisc
 iZRlTQhMWfl0c99ERLppYtXy5T/b+Mtf7gRwEsB5APGclntzg4ZlWVHbtsum
 3H33zOdWrnyF8tVL3R/ViEjTtK41O51Oe57XlkomG0PhcLlhmkXhcLgI6uDE
 zMjP333vJCKCGQhg9YoVP9+yfv12TdMapZQfq8qIc63vxATACASDxU4mUzZ6
 woQvP7ty5UuRaLSQhZAg0rqKSnmM5OaUbZ+sZ1N0ztde3vMEgDVNIwB4ZeXK
 NTs2bXrTMIxmz/MuAGgFYPudBV0jHwkAKFJhvGbV2rUvDKipGS2ZwZ+2C1Av
 EMsn9GpMm4EAWi9fblv+9NM/OnP8+P/qut4khGjylTJFPt6vWv1T6soASP52
 8+adRiCQqho0aJKm67oQgnJRWwgBTwU9/1zkreVfz8UXEJGQEv+zdetvln3z
 m99va209BeAsMzeooprTU7y53lTAABAkomJmLgFQ9cSyZX83dNSo2QVFRQXC
 8wDmnCQ5pxXOJVufln7XFSMQgGPbOHHwYP2/fetb6wCcVTi/oiCTulo550Zy
 Gc2X1harGubAu+fOnTblnnvmRQoLB4QLCiJEBJYSuSpHN+evaSBNAxEhk057
 8fb2pn319e9uWbt2N4AGAHEiamXmmCLcyYfMzf6zh78IGyosKSmJt7VFAVhW
 OFwzcuLEIYOHDRtZXl19e7SkpELLGnuOEYq3t19pbW5uOHHw4JGGM2eaLzc1
 nQGQikSjyWQiEVNQSd5IGaev2aT/W1dQaSWk4oelrlMPp7fc3FMSTqoxpezM
 udH/Vvk/qg6JP7PI+vQAAAAASUVORK5CYII=
